<div class="page-header">
  <h1>Инструкторы</h1>
</div>

<button (click)="onAddInstructor()" type="button" class="btn btn-success">Добавить Инструктор</button>
<br/><br/>
<table class="table">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>E-mail</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let instructor of instructors">
    <td class="vert-align">{{instructor.name}}</td>
    <td class="vert-align">{{instructor.address}}</td>
    <td class="vert-align">{{instructor.phone}}</td>
    <td class="vert-align">{{instructor.email}}</td>
    <td>
      <button (click)="onEditInstructor(instructor)" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
      <button (click)="onDeleteInstructor(instructor)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
  </tbody>
</table>
