<div class="page-header">
  <h1>Календарь</h1>
</div>

<!--<p-dropdown [options]="courts" [style]="{'width':'150px'}" [(ngModel)]="selectedCourt"
            (onChange)="onCourtsDropdownChange()"></p-dropdown> -->
<p-dropdown [options]="instructors" [style]="{'width':'250px'}" [(ngModel)]="selectedInstructor"
            (onChange)="onInstructorsDropdownChange()"></p-dropdown>

<p-tabView (onChange)="onCourtsTabViewChange($event)">
  <p-tabPanel header="Все корты">
    <input type="hidden" name="withCourtIdHidden" value="-1">
  </p-tabPanel>

  <p-tabPanel *ngFor="let co of courts" [header]="co.label">
    <!--Court: {{co.value.id}}-->
    <input type="hidden" name="withCourtIdHidden" value="{{co.value.id}}">
  </p-tabPanel>
  <p-schedule [events]="fcEvents"
              [header]="header"
              [allDaySlot]="allDaySlot"
              [locale]="locale"
              defaultView="agendaWeek"
              editable="true"
              minTime="07:00:00"
              maxTime="22:00:00"
              (onEventClick)="handleEventClick($event)"
              (onDayClick)="handleDayClick($event)"
              (onEventDrop)="handleEventDrop($event)"
              (onEventResize)="handleEventResize($event)">
  </p-schedule>


</p-tabView>


<p-dialog header="Event Details" [(visible)]="dialogVisible" [width]="450" [responsive]="true" showEffect="fade"
          [modal]="false">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="title">Title</label></div>
      <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="title">Instructor</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown [options]="instructors" id="instructor" [style]="{'width':'250px'}" [(ngModel)]="withInstructor"
                    (onChange)="onWithInstructorsDropdownChange()"></p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="start">Start</label></div>
      <div class="ui-grid-col-8">
        <p-calendar id="start" dateFormat="yy-mm-dd" timeFormat="HH:mm" timeControlType="select"
                    [(ngModel)]="event.start"></p-calendar>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="end">End</label></div>
      <div class="ui-grid-col-8">
        <p-calendar id="end" dateFormat="yy-mm-dd" timeFormat="HH:mm" timeControlType="select" [(ngModel)]="event.end"
                    defaultDate="2016-01-01" placeholder="Optional"></p-calendar>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" (click)="deleteEvent()" label="Delete"><i class="fa fa-close"></i></button>
      <button type="button" (click)="saveEvent()" label="Save"><i class="fa fa-check"></i></button>
    </div>
  </footer>
</p-dialog>
