<div class="page-header">
  <h1>Календарь</h1>
</div>
<!--<p-dropdown [options]="courts" [style]="{'width':'150px'}" [(ngModel)]="selectedCourt"
            (onChange)="onCourtsDropdownChange()"></p-dropdown> -->
<p-dropdown [options]="instructors" [style]="{'width':'250px'}" [(ngModel)]="selectedInstructor"
            (onChange)="onInstructorsDropdownChange()"></p-dropdown>
<p-dropdown [options]="courtTypes" [style]="{'width':'150px'}" [(ngModel)]="selectedCourtType"
            (onChange)="onCourtTypesDropdownChange()"></p-dropdown>
<p-tabView (onChange)="onCourtsTabViewChange($event)">
  <p-tabPanel header="Все корты">
    <input type="hidden" name="withCourtIdHidden" value="-1">
  </p-tabPanel>

  <p-tabPanel *ngFor="let co of courts" [header]="co.label">
    <!--Court: {{co.value}}-->
    <input type="hidden" name="withCourtIdHidden" value="{{co.value}}">
  </p-tabPanel>
  <!--<button type="button" id="submit" class="btn green uppercase">Prev</button> -->
  <p-schedule [events]="fcEvents"
              [header]="header"
              [allDaySlot]="allDaySlot"
              [locale]="locale"
              defaultView="agendaWeek"
              editable="true"
              minTime="07:00:00"
              maxTime="22:00:00"
              (onEventClick)="handleEventClick($event)"
              (onDayClick)="handleDayClick($event)"
              (onEventDrop)="handleEventDrop($event)"
              (onEventResize)="handleEventResize($event)">
  </p-schedule>


</p-tabView>


<p-dialog header="Мероприятие" [(visible)]="dialogVisible" [width]="450" [responsive]="true" showEffect="fade"
          [modal]="false">
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="title">Корт</label></div>
        <div class="ui-grid-col-8">
          <p-dropdown [options]="courtsDialog" id="court" formControlName="court" [style]="{'width':'250px'}"
                      [(ngModel)]="event.court_id"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="title">Текст</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="title" formControlName="title" required [(ngModel)]="event.title"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="title">Инструктор</label></div>
        <div class="ui-grid-col-8">
          <p-dropdown [options]="instructorsDialog" id="instructorSelect" [style]="{'width':'250px'}"
                      [(ngModel)]="event.instructor_id" formControlName="instructorDialog"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="start">Начало</label></div>
        <div class="ui-grid-col-8">
          <p-calendar id="start" dateFormat="yy-mm-dd" timeFormat="HH:mm" timeControlType="select"
                      [(ngModel)]="event.start" [locale]="locale" formControlName="start"></p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="end">Конец</label></div>
        <div class="ui-grid-col-8">
          <p-calendar id="end" dateFormat="yy-mm-dd" timeFormat="HH:mm" [(ngModel)]="event.end" timeControlType="select"
                      defaultDate="01/01/2016" placeholder="Optional" [locale]="locale" formControlName="end"></p-calendar>
        </div>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="col-sm-6">
          <button type="submit" [disabled]="!eventForm.valid" label="Save"><i class="fa fa-check" style="color: darkblue;">Сохранить</i>
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" (click)="deleteEvent()" label="Delete"><i class="fa fa-close" style="color: red;">Удалить</i>
          </button>
        </div>
      </div>
    </footer>
  </form>
</p-dialog>
