<div class="page-header">
  <h2>Календарь Инструктура</h2>
</div>


<ds-scheduler
  [events]="fcEvents"
  [resources]="fcResources"
  locale="ru"
  [nowIndicator]="true"
  defaultView="agendaDay"
  slotLabelFormat="HH:mm"
  resourceAreaWidth="120"
  resourceLabelText="&nbsp;"
  titleFormat="YYYY-MM-DD dddd"
  (onEventClick)="handleEventClick($event)"
  (onDayClick)="handleDayClick($event)"
  (onEventDrop)="handleEventDrop($event)"
  (onEventResize)="handleEventResize($event)"
></ds-scheduler>


<p-dialog header="Мероприятие" [(visible)]="dialogVisible" [width]="450" [responsive]="true" showEffect="fade"
          [modal]="false">
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="title">Текст</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="title" formControlName="title" required [(ngModel)]="event.title"/>
          <div class="alert alert-danger" style="height: 50px;" *ngIf="!eventForm.controls['title'].valid">Введите текст</div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="start">Начало</label></div>
        <div class="ui-grid-col-8">
          <input id="start" [(ngModel)]="event.start" formControlName="start" readonlyInput/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="end">Конец</label></div>
        <div class="ui-grid-col-8">
          <input id="end" [(ngModel)]="event.end" formControlName="end" readonlyInput/>
        </div>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="col-sm-6">
          <button type="submit" [disabled]="!eventForm.valid" label="Save"><i class="fa fa-check"
                                                                              style="color: darkblue;">Сохранить</i>
          </button>
        </div>
        <div class="col-sm-6">
          <button type="button" (click)="deleteEvent()" label="Delete"><i class="fa fa-close" style="color: red;">Удалить</i>
          </button>
        </div>
      </div>
    </footer>
  </form>
</p-dialog>
