<div class="page-header">
    <h1>Корты</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="courtForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Название</label>
                        <input
                                type="text"
                                id="name"
                                class="form-control"
                                formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="court_type">Тип</label>
                        <p-dropdown [options]="courtTypes" [(ngModel)]="selectedCourtType" [style]="{'width':'150px'}"
                                    id="court_type" formControlName="court_type"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!courtForm.valid">Сохранить</button>
                    <a class="btn btn-danger" (click)="onCancel()">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
