<div [hidden]="!getToken()" class="collapse navbar-collapse" collapse="isCollapsed"
     style="position: fixed;width: 90%;background-color: white;padding-top: 10px;padding-bottom: 10px; border-bottom: 1px solid #ccc;z-index: 2;">
  <nav>
    <style>
      [hidden], template {
        display: none !important;
      }
    </style>
    <div class="col-sm-10">
      <p-tabMenu [model]="menuItems" [activeItem]="activeItem"></p-tabMenu>
    </div>
    <div class="col-sm-2">
      Вы вошли как <br><b>{{getTokenRole()}}</b>
    </div>

  </nav>
</div>
