<div [hidden]="!getToken()"  class="collapse navbar-collapse" collapse="isCollapsed" style="position: fixed;width: 90%;background-color: white;padding-top: 10px;padding-bottom: 10px; padding-right:15px;border-bottom: 1px solid #ccc;z-index: 2;">
  <nav>
    <style>
      [hidden], template {
        display: none !important;
      }
    </style>
    <ul class="nav nav-pills pull-left">

      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/calendar']"><a href="#">Календарь</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/instructors']"><a href="#">Инструкторы</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/courts']"><a href="#">Корты</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/logout']"><a href="#">Выход</a></li>
    </ul>
  </nav>
</div>
